/* start of nav styling */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  background-color: var(--next);
  top: 0;
  z-index: 1;
}

.tnw-nav-logo {
  width: 65px;
  height: 25px;
  margin: 10px 0;
  cursor: pointer;
}

.nav ul {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
}

.nav ul li {
  list-style: none;
  padding: 10px;
}

.nav ul li:hover {
  background-color: var(--next);
  opacity: 0.6;
}

.nav ul li a {
  text-decoration: none;
  color: rgba(80, 86, 102, 1);
  font-size: 1rem;
}
.nav ul li a:hover {
  color: #000;
}

.arrow-label {
  width: 12px;
  height: 12px;
}

.link-arrow {
  cursor: default;
}

.envelope {
  color: rgba(80, 86, 102, 0.3);
  cursor: pointer;
  font-size: 1.1rem;
  margin: 12px 0;
}
/* end of nav styling */

/* start of yellow div styling */
.yellow {
  background-color: #fd3;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 8%;
}

.yellow span {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
/* end of yellow div styling */

/* start of logo-heart section */
.logo-heart {
  display: flex;
  justify-content: space-between;
  padding: 12rem 4rem 7rem;
}

.logo-heart svg {
  width: 18%;
}

.logo-heart p {
  font-size: 2.3rem;
  opacity: 0.8;
}
/* end of logo-heart section */

/* start of main-grid-styling */
.top-main {
  display: grid;
  grid-gap: 20px;
  background-color: var(--next);
  min-height: 120vh;
  line-height: 30px;
}

.top-container {
  display: grid;
  grid-gap: 10px;
  margin: 20px 30px;
  grid-template-areas:
    "showcase-a top-box-a top-box-b"
    "showcase-a showcase-b showcase-b"
    "top-box-c showcase-b showcase-b";
}

.showcase {
  height: 75vh;
}

.showcase-a {
  grid-area: showcase-a;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://source.unsplash.com/random/200x200);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 33vw;
}

.showcase-b {
  grid-area: showcase-b;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(https://source.unsplash.com/random/201x200);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-box-a {
  grid-area: top-box-a;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(https://source.unsplash.com/random/202x200);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 35vh;
  min-width: 10vw;
}

.top-box-b {
  grid-area: top-box-b;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://source.unsplash.com/random/203x200);
  background-size: cover;
  background-position: center;
  min-width: 10vw;
  background-repeat: no-repeat;
}

.top-box-c {
  grid-area: top-box-c;
  min-height: 35vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://source.unsplash.com/random/204x200);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container .top-box-c p {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.top-container .top-box-c .btn {
  font-size: 0.8rem;
  padding: 10px 20px;
  border-radius: 20px;
  background: none;
  border: 1px solid var(--next);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--next);
  cursor: pointer;
}

.top-container h1 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.top-container p {
  font-size: 1.1rem;
  font-weight: bold;
}

.top-container .ceo {
  font-size: 2.3rem;
}

.top-container .germany {
  font-size: 2rem;
}

.top-box-mobile{
  display: none;
}

.advert {
  height: 80px;
  width: 65%;
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advert p {
  text-transform: uppercase;
  font-weight: bold;
}

/* end of main-grid-styling */

/* start of article section styling */
.article {
  background-color: rgba(80, 86, 102, var(--text-opacity));
  line-height: 25px;
  min-height: 50vh;
  margin: 50px 0;
  padding: 100px 0;
}

.article h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
  color: rgba(80, 86, 102, 0.5);
}

.articles-div ol {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  width: 80%;
}

.articles-div ol li {
  color: purple;
  font-size: 30px;
  font-weight: bold;
}

.articles-div ol li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #000;
}

.articles-div ol li a:hover{
  text-decoration: underline purple;
}
/* end of article section styling */

/* start of stories styling */
.stories {
  background-color: var(--next);
  padding: 0 50px;
  min-height: 150vh;
}

.special-h2 {
  font-weight: bolder;
  font-size: 2.5rem;
  padding: 50px 0;
}

.main-stories-div {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.main-stories-div img {
  width: 100%;
  height: 45%;
}

.main-stories-div p {
  font-weight: bold;
}
  
.main-stories-div span {
  color: rgba(80, 86, 102, 0.5);
  font-size: 0.9rem;
}

.btn-news {
  display: block;
  text-align: center;
  padding: 15px 25px;
  border: 1px solid rgba(80, 86, 102, 0.5);
  background: none;
  margin: 0 auto;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.7;
}
/* end of stories styling */

/* start of explore styling */
.explore {
  background-color: rgba(80, 86, 102, var(--text-opacity));
  padding: 30px;
  margin-top: 30px;
  min-height: 90vh;
}

.main-explore-div {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
}

.main-explore-div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px;
  min-width: 19%;
  height: 45vh;
  font-size: 1.1rem;
  color: var(--next);
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-explore-div h3 {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.explore-a {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/plugg.webp);
}

.explore-b {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/neural.jpg);
}

.explore-c {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/shift.jpg);
}

.explore-d {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/growth.jpg);
}

.explore-d h3 {
  line-height: 20px;
}

.explore-e {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hard.webp);
}
/* end of explore styling */

/* start of newsletter styling */
.newsletter-main{
  background-color: #000;
}

.newsletter-div {
  background:url(/images/spacesbg.png);
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-size: cover;
  text-align: center;
  padding: 70px 0;
  color: var(--next);
}

.newsletter-div h3{
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.newsletter-div p{
  font-size: 1.2rem;
}

.newsletter-div p > a{
  color: aqua;
  text-decoration: none;
}

.newsletter-div p > a:hover{
  color: #fff;
  font-weight: bold;
}

.newsletter-div > div{
  position: relative;
}

.newsletter-div input{
  width: 60%;
  margin: 20px auto;
  display: block;
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 30px;
  border: #fff;
}

.newsletter-div .input-i{
  position: absolute;
  left: 20.5%;
  top: 32%;
  color: gray;
  font-size: 1rem;
  opacity: 0.5;
}

.newsletter-div >div p{
  position: absolute;
  right: 20.5%;
  top: 25%;
  color: grey;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.awesome{
  font-size: 1.5rem;
  opacity: 0.6;
}

.awesome i{
  padding: 0 5px;
}
/* end of newsletter styling */

/* start of watch styling */
.watch {
  background-color: rgba(80, 86, 102, var(--text-opacity));
  padding: 30px 40px;
  min-height: 140vh;
}

.watch-display {
  display: flex;
  justify-content: space-evenly;
}

.watch-display .watch-inner{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right:150px;
  height: 600px;
}

.watch-display > div > video{
  max-width: 95%;
  max-height: 100%;
}

.text{
  background-color: #000;
  color: #fff;
  width: 95%;
  margin-top: -10px;
  padding: 20px 30px;
  line-height: 30px;
  font-size: 1.2rem;
}

.text span {
  font-size: 12px;
  opacity: 0.3;
}

.watch-display .watch-inner .video-gen{
  max-width: 200px;
  max-height: 200px;
}

.text-inner{
  margin-bottom: 30px;
  width: 200px;
  font-weight:bold;
}
/* end of watch styling */

/* start of goal styling */
.goal{
  padding: 70px 40px;
  min-height: 50vh;
}

.goal-display{
  display: flex;
  justify-content: space-between;
}

.goal-text{
  width: 45%;
}

.goal-text span{
  opacity: 0.7;
}

.goal-text h3{
  font-size: 35px;
}

.goal-text p{
  font-size: 1.3rem;
  opacity: 0.8;
  padding: 20px 0;
}

.goal-text button{
  padding: 15px 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(9, 185, 177);
  border: rgb(9, 185, 177);
  color: var(--next);
  cursor: pointer;
  border-radius: 5px;
}

.goal-img{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.goal-img img{
  width: 50%;
}

.goal-img .pillar{
  display: flex;
  align-items: center;
  padding: 25px;
  text-transform: capitalize;
  font-weight: bold;
}

.goal-img .pillar p{
  font-size: 1.2rem;
  padding: 0 20px;
}
/* end of goal styling */

/* start of sponsor section */
.sponsor-display{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  margin: 0 70px 50px;
}

.sponsor-display img{
  opacity: 0.7;
  cursor: pointer;
}

.sponsor-display img:hover{
  opacity: 1;
  transition: 0.5s;
}
/* end of sponsor section */

/* start of footer styling */
footer{
  background-color: var(--secondary);
  padding: 60px 0;
  color: var(--next);
}

.footer-display{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  width: 95%;
}

.footer-display svg{
  width: 40%;
}

.footer-display h4{
  font-size: 1.6rem;
  padding: 10px 0 45px 0;
}

.footer-display h3{
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer-display .second-side{
  display: flex;
  justify-content: space-evenly;
}

.footer-display li{
  list-style-type: none;
}

.footer-display li a{
  text-decoration: none;
  text-transform: capitalize;
  color: var(--others);
  font-size: 1.1rem;
}

.footer-hr{
  margin-top: 25px;
  opacity: 0.3;
}

.footer-text{
  padding-top: 20px;
  margin: 0 auto;
  width: 80%;
  color: gray;
  text-align: center;
}


.footer-text p a{
  text-decoration: none;
  color: var(--next);
  font-weight: 600;
  font-size: 0.9rem;
}

.footer-text p a:hover{
  color: purple;
  transition: 0.5s;
}
/* end of footer styling */