@media (max-width: 768px) { 
  .top-container {
    /* display: block; */
    overflow-x: scroll;
    display: flex;
  }

  .showcase {
    height: 400px;
    min-width: 450px;
  }
}

.top-box-c{
  display: block;
  width: 100%;
  flex-grow: 1;
}